---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.vue';
---

<Layout title="Keep Secrets">
	<div>
		<div class="h-screen">
			<Hero client:load />
		</div>
	</div>
</Layout>

