---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.vue";

const request = await fetch(
  `${import.meta.env.PUBLIC_KEEP_SECRETS_API_BASE_URL}/auth`,
  {
    method: "POST",
    headers: {
      Accept: "application/json",
      "Content-Type": "application/json",
    },
    body: JSON.stringify({
      aud: 'web'
    }),
  }
);
const response = await request.json();
const { accessToken } = response;
if(!Astro.cookies.has("access_token")){
  Astro.cookies.set("access_token", accessToken)
}
---

<Layout title="Keep Secrets">
  <div>
    <div class="h-screen">
      <Hero client:load />
    </div>
  </div>
</Layout>
