---
import Layout from '../../../layouts/Layout.astro';
import Secret from '../../../components/Secret.vue';
console.log(Astro.params)
const {id, secretKey} = Astro.params
---

<Layout title="Keep Secrets">
	<div>
		<div class="h-screen">
      <Secret client:only id={id} secretKey={secretKey} />
		</div>
	</div>
</Layout>

